.body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: "Lato", Verdana, sans-serif;
}

.header {
    width: 100%;
    height: 89px;
    background-color: #2d303a;
    -webkit-box-shadow: 0 6px 0 0 rgba(50,55,70,1);
       -moz-box-shadow: 0 6px 0 0 rgba(50,55,70,1);
            box-shadow: 0 6px 0 0 rgba(50,55,70,1);
}

.header__content {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 140px;
    height: 100%;
}

.logo__link {
    font-size: 2.4em;
    line-height: 53px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.logo__link::after {
    font-size: 24px;
    top: 0;
    left: 0;
    content: "*";
    position: relative;
    color: #f06c64;
}

.navigation {
    width: 380px;
    height: 100%;
}

.menu {
    padding-left: 8px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu__item:not(:first-child)::before {
    content: ".";
    position: relative;
    bottom: 3px;
    left: -13px;
    font-weight: 400;
    font-size: 1.9em;
    color: #484d60;
}

.menu__link {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 68px;
    color: #ffffff;
    text-transform: uppercase;
}

.menu__link:focus {
    color: #f06c64;
}

.menu__link:hover {
    color: #f06c64;
    transition: 1s;
}

a {
    color: inherit;
    text-decoration: none;
}

.main {
    width: 100%;
    min-height: 100px;
    margin-top: 6px;
}

.carousel {
    width: 100%;
    height: 594px;
    background-color: #f06c64;
    -webkit-box-shadow: 0 6px 0 0 rgba(234,103,107,1);
       -moz-box-shadow: 0 6px 0 0 rgba(234,103,107,1);
            box-shadow: 0 6px 0 0 rgba(234,103,107,1);
}

.carousel__content {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}

.carousel__previous {
    background-image: url(/assets/img/arrow.png);
    width: 16px;
    height: 27px;
    left: 41px;
    top: 281px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    opacity: .4;
    border: none;    
    position: absolute;
}

.carousel__next {
    background-image: url(/assets/img/arrow.png);
    width: 16px;
    height: 27px;
    right: 41px;
    top: 281px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    opacity: .4;
    border: none;    
    position: absolute;
    -webkit-transform: scale(-1, 1);
       -moz-transform: scale(-1, 1);
         -o-transform: scale(-1, 1);
            transform: scale(-1, 1);
}

.carousel__previous:hover,
.carousel__next:hover {
    opacity: 1;
    transition: 1s;
}

.carousel__vertical-img {
    width: 240px;
    height: 483px;
    top: 53px;
    left: 112px;
    position: absolute; 
}

.carousel__horizontal-img {
    width: 484px;
    height: 240px;
    top: 173px;
    right: 111px;
    position: absolute;
}

.services {
    width: 100%;
    height: 500px;
    margin-top: 6px;
    background-color: #f2f2f2;
    -webkit-box-shadow: inset 0 -6px 0 0 rgba(255,255,255,1);
       -moz-box-shadow: inset 0 -6px 0 0 rgba(255,255,255,1);
            box-shadow: inset 0 -6px 0 0 rgba(255,255,255,1);
}

.services__content {
    width: 940px;
    margin: 0 auto;
    padding: 62px 40px 0 40px;
}

.services__title {
    margin: 0;
    font-weight: 900;
    font-size: 3em;
    color: #666d89;
}

.services__text {
    margin-top: 17px;
    font-weight: 300;
    font-size: 1.8em;
    line-height: 30px;
    text-align: justify;
    color: #666d89;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 44px;
}

.card__item {
    width: 310px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.card__item:nth-child(-n+3) {
    margin-bottom: 23px;
}

.card__pencil {
    top: 1px;
    left: 1px;
    position: absolute;
}

.card__lamp {
    top: 1px;
    left: 4px;
    position: absolute;
}

.card__heart {
    position: absolute;
    top: 1px;
    left: 10px;
}

.card__phone {
    top: 1px;
    left: 1px;
    position: absolute;
}

.card__cloud {
    top: 1px;
    left: 5px;
    position: absolute;
}

.card__star {
    top: 1px;
    left: 10px;
    position: absolute;
}

.card__design {
    position: absolute;
    top: -2px;
    left: 79px; 
    margin: 0;
    font-weight: 900;
    font-size: 1.8em;
    color: #666d89;
}

.card__ideas {
    position: absolute;
    top: -2px;
    left: 84px; 
    margin: 0;
    font-weight: 900;
    font-size: 1.8em;
    color: #666d89;
}

.card__love {
    position: absolute;
    top: -2px;
    left: 90px; 
    margin: 0;
    font-weight: 900;
    font-size: 1.8em;
    color: #666d89;
}

.card__layout {
    position: absolute;
    top: -2px;
    left: 80px; 
    margin: 0;
    font-weight: 900;
    font-size: 1.8em;
    color: #666d89;
}

.card__support {
    position: absolute;
    top: -2px;
    left: 83px; 
    margin: 0;
    font-weight: 900;
    font-size: 1.8em;
    color: #666d89;
}

.card__feel {
    position: absolute;
    top: -2px;
    left: 91px; 
    margin: 0;
    font-weight: 900;
    font-size: 1.8em;
    color: #666d89;
}

.card__design-text {
    position: absolute;
    top: 28px;
    left: 81px;
    width: 220px;
    margin: 0;
    overflow: hidden;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 21px;
    text-align: justify;
    color: #666d89;
}

.card__ideas-text {
    position: absolute;
    top: 28px;
    left: 84px;
    width: 220px;
    margin: 0;
    overflow: hidden;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 21px;
    text-align: justify;
    color: #666d89;
}

.card__love-text {
    position: absolute;
    top: 28px;
    left: 90px;
    width: 220px;
    margin: 0;
    overflow: hidden;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 21px;
    text-align: justify;
    color: #666d89;
}

.card__layout-text {
    position: absolute;
    top: 28px;
    left: 80px;
    width: 220px;
    margin: 0;
    overflow: hidden;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 21px;
    text-align: justify;
    color: #666d89;
}

.card__support-text {
    position: absolute;
    top: 28px;
    left: 85px;
    width: 220px;
    margin: 0;
    overflow: hidden;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 21px;
    text-align: justify;
    color: #666d89;
}

.card__feel-text {
    position: absolute;
    top: 28px;
    left: 90px;
    width: 220px;
    margin: 0;
    overflow: hidden;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 21px;
    text-align: justify;
    color: #666d89;
}






